<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Get Involved</title>
  <link href="/getinv.css" rel="stylesheet" type="text/css" />"
  <link href="/hf.css" rel="stylesheet" type="text/css" />


</head>


<body>
  <section id="header">
    <a href="#"><img src="img/home/logo-brown-nobg.png" height=80 width=115 ></a>
   <div>
     <ul id="navbar">
       <li><a href="/">Home</a></li>
       <li><a href="/projects">Their Projects</a></li>
       <li><a class="active" href="/getinvolved">Get Involved</a></li>
       <li><a href="/ourworks">Our Works</a></li>
       <li><a href="/aboutus">About Us</a></li>
     </ul>
   </div>
  </section>
  <section id="page-header" class="animate__animated animate__fadeIn">
    <h2 style="color:black; padding-top: 60px;" class="animate__animated animate__bounce">Get Involved</h2>
     <!--<p>Building a brighter future with every charitable endeavor.</p>-->
   </section>  
 <section style="padding: 30px;">
   <div style="text-align: center;padding-bottom: 3.5%;padding-top: 2%;"><h1>Ways to contribute</h1></div>
   <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 40px;">
     <div style="padding:20px;">
   <div class="image1">
     <img class="image1__img" src="img/involved/indi.png">
     <div class="image1__overlay">
         <div class="image1__title" style="font-size: 20px;">Individual Contribution</div>
       <p class="image1__description"><a href="#section1"><button class="normal">Contribute</button></a></p>
     </div>
   </div>
   </div>
   <div style="padding:20px;">
     <div class="image1">
     <img class="image1__img" src="img/involved/cor.png">
     <div class="image1__overlay">
       <div class="image1__title">Corporate Contribution</div>
       <p class="image1__description"><a href="#section2"><button class="normal">Contribute</button></a></p>
     </div>
     </div>
   </div>
   <div style="padding:20px;">
       <div class="image1" >
       <img class="image1__img" src="img/involved/inst.png">
       <div class="image1__overlay">
         <div class="image1__title">Insistitutional Contribution</div>
         <p class="image1__description"><a href="#section3"><button class="normal">Contribute</button></a></p>
       </div>
       </div>
   </div>
   </div>
 </section>
       <section id="section1">
         <h1 style="text-align: center;padding-top: 10%;padding-bottom: 0;">Individual Contribution</h1>
        <div class="sec1">
         <h2 class="fadein"> “Education is the most powerful weapon 
             which you can use to change the world."<br> -Nelson Mandela </h2>
         <p style="padding-top: 0%;"  class="afttext">Welcome to Hands Of Hope, where your contribution transforms lives. By supporting our mission to empower disabled and elderly individuals, you become a catalyst for positive change. Your donation provides essential resources, from medical care to emotional support, fostering independence and dignity. Together, we're building a more compassionate world where every person, regardless of age or ability, can thrive. Join us in making a difference and be a part of shaping a brighter future for all.</p>
        </div>       
         <div align="center" class="animate__animated animate__lightSpeedInLeft">
            <div>
                 <div class="container">
                     <img style="padding-right: 13%;" src="img/work/donatehigh222.png" alt="Avatar" class="image">
                     <div class="overlay overlayFade">
                         <div class="text">
                           <h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;padding-top:8%;padding-bottom: 4%;">High Value Contribution</h3><br><br><br>
                           <h4 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">We highly appreciate environmentally conscious High Net-Worth Individuals committed to societal giving, leveraging their wealth and fortunes for positive impact.</h4>
                         </div>
                     </div>
                 </div>
                 <div class="container">
                     <img src="img/work/ngsupp-removebg-preview.jpg" alt="Avatar" style="padding-right: 13%;" class="image">
                     <div class="overlay overlayFade">
                         <div class="text"><h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;">Volunteer</h3>
                           <br><br>
                         <h4 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Volunteers, the heart of any NGO, selflessly drive positive change with passion and commitment, forming a powerful force for social impact.</h4></div>
                     </div>
                 </div>
                 <div class="container">
                     <img style="padding-right: 13%;" src="img/involved/indivi.png" alt="Avatar" class="image">
                     <div class="overlay overlayFade">
                         <div class="text"><h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;padding-top: 3%;">Donate</h3>
                           <br><br>
                         <h4 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;">Empower disabled and elderly individuals swiftly through monetary support; contribute online via net banking, credit, or debit card for targeted interventions in marginalized communities.</h4></div>
                     </div>
                 </div>
                 <div class="container">
                     <img style="padding-right: 13%;" src="img/work/ngcamp1f.png" alt="Avatar" class="image">
                     <div class="overlay overlayFade">
                         <div class="text">
                           <h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Campaigns</h3>
                           <br><br>
                           <h4 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Through the years, CARE India has championed campaigns for disabled and elderly empowerment, covering disability rights, aging, and disaster rehabilitation.</h4>
                         </div>
                     </div>
                 </div>
                 <div class="container">
                     <img style="padding-right: 13%;" src="img/work/ngint.png" alt="Avatar" class="image" >
                     <div class="overlay overlayFade">
                         <div class="text">
                           <h3 style="color: black;
                             text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Internship</h3><br><br>
                           <h4 style="color: black;
                             text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Discover the development sector with CARE India through short-term internships, where we welcome fresh, enthusiastic minds to join our dedicated team.                    </h4>
                         </div>
                     </div>
                 
                <!-- <div class="container">
                     <img src="download.png" alt="Avatar" class="image">
                     <div class="overlay overlayCross">
                         <div class="text">Cross</div>
                     </div>
                 </div>
             </div>-->
 
         </div>
 
     <!--</section>-->
     <section id="section2">
       <h1 style="text-align: center;padding-top: 10%;padding-left: 1%;">Corporate Contribution</h1>
        <div class="sec1">
         <p style="padding-left:5%;padding-right:1%;" class="afttext">Hands Of Hope recognises that the complex issues faced by modern India can only be resolved when the state, the civil society, individuals and corporates join hands, and work with each other. A wide lens approach that accommodates many more partners has become indispensable to avoid failures and multiply the odds of success. The calls to leverage the efforts and capabilities of all stakeholders to step up the impact of poverty reduction and social inclusion programmes are growing louder, and CARE India is working to achieve this goal, through collaborations.
         </p>
          <h2 class="fadein">"The best way to find yourself is to lose yourself in the service of others."<br><br>-Mahatma Gandhi </h2>
 
        </div> 
     </section>
     <br><br><br><br>
     <section id="section3">
       <h1 style="text-align: center; padding-top: 10%;">INSTITUTIONAL CONTRIBUTIONS</h1>
        <div class="sec1">
         <h2 class="fadein" style="padding: 10px;padding-left: 3%;padding-right: 3%;">"Institutions shape society; NGOs drive change."
 
 
 <br><br> - C. Everett Koop </h2>
         <p class="afttext" style="padding: 5vmin;padding-top: 0;">Institutional contributions are the bedrock of NGO resilience and impact. Whether through financial backing, strategic partnerships, or shared expertise, institutions amplify the reach and credibility of NGOs. These crucial contributions empower organizations to address societal challenges on a larger scale, implementing transformative projects and extending their influence. Beyond monetary support, institutions bring valuable resources and innovative solutions, fostering collaborative efforts for social progress. Collaborating with NGOs, institutions play a vital role in creating a more compassionate and equitable world. Their support acts as a force multiplier, facilitating broader outreach and sustainable change. In this collective endeavor, institutional contributions stand as key enablers for NGOs dedicated to building resilient communities and addressing pressing global issues.</p>
 
        </div> 
        <img  src="img/involved/ngo1.jpg" style="padding-right: 5%;">
       <img src="img/involved/ngo2.jpg">
       <p style="text-align: center;padding-left: 4%;padding-right: 5%;">Our NGO is dedicated to enhancing the lives of disabled and elderly individuals. Our impactful initiatives are made possible through valued partnerships with institutions that share our commitment to creating inclusive communities. Through financial support, strategic collaboration, and shared expertise, these institutions play a crucial role in amplifying our reach and effectiveness. Together, we are building a compassionate world where every individual, regardless of age or ability, can thrive. Join us in our mission, as we work hand in hand with institutional partners to make a lasting impact on the lives of those we serve.</p>
     </section>
   <br><br>
            
   <section>
     <div style="text-align: center; padding: 10px;padding-top:3%" class="partners"><h1 style="padding-bottom: 2%;">OUR PARTNERS</h1>
     <a href="https://nss.gov.in/" target="_blank"><img src="img/about/NSS.png" style="padding: 10px;"></a>
     <a href="https://www.rotary.org/en/get-involved/rotaract-clubs" target="_blank"><img src="img/about/rot.png" style="padding: 10px;"></a>
     <a href="https://www.smilefoundationindia.org/" target="_blank"><img src="img/about/smile.png" style="padding: 10px;"></a>
       <a href="https://www.bmsce.ac.in/" target="_blank"><img src="img/about/bmslogo.jpg" style="padding: 10px;"></a>
       </div>
   </section>
 
              <div class="sec12">
 
                <h3 style="text-align: center;color: black;line-height: 1.5em;padding-top: 4%;">Complex, deep rooted issues need Strong Partnership – Corporates, Government and NGOs.<br>
                  Let us join hands to being positive change to marginalized communication.</h3>
                 <h3 style="text-align: center;color: black;line-height: 1.5em;">For More Information please write to us at <br><a href="xxx.com">hohngo@org.com</a></h3>
               </div>
 
               <%- include("./partials/newsletter.ejs") %>

               <!--Footter-->
               <%- include("./partials/footer.ejs") %>
       


               <script type="module" src="script.js"></script>
               <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

</html>